<%- include('layout/header', { title: '微博 - 首页', isNav: true, list: true, isInputBlog: true })%>

<div class="container margin-top-20">
  <div class="row">
    <div class="col-8">
      <%- include('widgets/input')%>
    </div>
    <div class="col-4"></div>
  </div>
</div>

<%- include('layout/footer')%>